/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/03/2020, 13:53:10
    Author     : esangoi
*/

.card-basica{

    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);

    /*    table{
            box-shadow: 0 4px 8px rgba(0, 0, 0, .25);
        }*/

    .card-header{    
        /*font-size: $card-basica-header-font-size;*/
        position: relative;     
        /*border-radius: 0;*/
        /*font-size: 1rem;*/
        padding: $inner-padding-default/2 $inner-padding-default;

        & .action{
            position: absolute;
            // Variable definida en _variable del core de bootstrap
            right: $card-spacer-x;

            a{
                text-decoration: none;
                color: $white;

                i.material-icons{
                    font-size: 95%;
                    vertical-align: middle;
                } 
            }
        }
    }
}

.card .card-body{
    /*padding: 1em .8em .8em 0;*/
    /*padding-top: 1em !important;*/
    /*padding-left: 2em;*/
    /*padding-right: 2em;*/
    /*padding-bottom: 1em !important;*/
}

/*$default-padding: 2.5rem;*/

@media(min-width: 992px){
    /*    .card .card-body{
            padding-top: $font-size-base * 1.3;
            padding-bottom: $font-size-base * 1.3;
            padding-left: $font-size-base * 1.3;
            padding-right: $font-size-base * 1.3;
            
        }*/
}