/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/04/2020, 11:35:05
    Author     : esangoi
*/

.bootbox{
    $aux: .8rem;

    .modal-header{
        background-color: $primary;
        
        padding-top: $aux;
        padding-bottom: $aux * .9;

        h5{
            color: white !important;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 1.1rem;
        }
        
        .close{
            color: white;
        }

    }
    .modal-body .bootbox-body{
        padding-left: $aux;
        padding-right: $aux;

        h3{
            font-size: 1.3rem;            
            margin-bottom: 1rem;
        }

        label{
            font-weight: bold;
        }

        p{
            font-size: initial;
            margin-bottom: .5rem;
        }
    }
}

