/*
Estiloso para la barra de navegacion
*/

#navbar{


    box-shadow: 0 4px 8px rgba(0, 0, 0, .25);


    padding-bottom: 0;
    padding-top: 0.2rem;

    .list-inline-item .material-icons{
        padding-top: 0 !important;
        /*background-color: red;*/
    }

    .navbar-brand {
        img{
            vertical-align: initial;
        }

        .app-name{
            color: $primary;
            font-size: 1.1rem;
            font-weight: bold;
        }

        .app-dependencia{
            font-size: 60%;
            color: $secondary;
        }

    }

    .dropdown-menu {
        left: auto;
        right: 0;

    }

    .nav-link{
        /*font-size: $font-size-base * 1.05;*/
        font-size: 1rem;

        &:hover{
            color: $primary;
        }
    }

    .dropdown-menu {
        padding: 0.3rem 0;
        font-size: $font-size-base;
    }


    /*    .custom-icon-middle > li > a > i {
            vertical-align: initial;        
        }*/



}

