/*
* Estilos para Siafca Web
*/

@import '_variables';

$font-size-base: .90rem;
$h1-font-size:                $font-size-base * 2.5 * .75 !default;
$h2-font-size:                $font-size-base * 2 * .60 !default;
$h3-font-size:                $font-size-base * 1.75 * .75 !default;
$h4-font-size:                $font-size-base * 1.5 * .75 !default;
$h5-font-size:                $font-size-base * 1.25 * .75 !default;
$h6-font-size:                $font-size-base * .75 !default;

// Utilidades de Bootstrap
/*@import "../public/node_modules/bootstrap/scss/functions";
@import "../public/node_modules/bootstrap/scss/variables";
@import "../public/node_modules/bootstrap/scss/mixins";

@import "../public/node_modules/bootstrap/scss/reboot";
@import "../public/node_modules/bootstrap/scss/type";
@import "../public/node_modules/bootstrap/scss/images";
@import "../public/node_modules/bootstrap/scss/code";
@import "../public/node_modules/bootstrap/scss/grid";*/

// Algun otro archivo del sass de bootstrap
// ...
/*Incluir todo:*/
@import "../public/node_modules/bootstrap/scss/bootstrap";


/* Estilos propios */
@import '_mixins';
@import '_buttons';
@import '_sidebar';
@import '_forms';
@import '_tables';
@import '_cards';
@import '_badges';
@import '_override';
@import '_ayuda';
@import '_modals';
@import '_breadcrumb';
@import '_media';
@import '_navbar';
@import '_paginado';
@import '_charts';



/* 1. Estilos globales */
/* 2. Estilos aplicados por ID */
/* 3. Estilos aplicados por clases */
/* 6. Tipografía */

/* ===================================================================================== */
/* 1. Estilos globales */
/* ===================================================================================== */

body{
    /*font-size: .9rem;*/
    /*background-color: #e3e1e2;*/
    /*background-color: whitesmoke;*/
    /*background-color: #e4e5e6 !important;*/
    background: rgb(248,248,248);
    background: linear-gradient(180deg, rgba(248,248,248,1) 0%, rgba(224,224,224,1) 47%, rgba(176,176,176,1) 100%);
    /*background-color: #F5F5F5 !important;*/
    /*#block_content{*/
    min-height: 100vh;
    /*}*/
}

/*main.container {
    width: 100%;
    padding-top: 1em;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}*/


/* Utilizado para remarcar un elemento (debug): */
.borde{ border: 1px dashed black; }

/* Este estilo permite alinear los iconos cuando se utilicen dentro de botones: */
a .material-icons{ 
    /*vertical-align: inherit !important;*/ 
}


.sortable .material-icons{ 
    vertical-align: middle !important; 
    color: $white;
    font-size: 1.3rem;
    margin-left: 2px;
}


button .material-icons{ 
    vertical-align: inherit !important; 
}

/* override: */
a{ outline: none; }
p{ 
    /*se estaba aplicando 1rem*/
    margin-bottom: .5rem;
}

/*.navbar-brand {
    font-size: 1.6rem;
}*/

footer {
    .container-fluid{
        background-color: inherit !important;
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }
}

.section-gap{
    margin-bottom: 2rem;
}

.bg-gray1{
    background-color: $gray-1;
}

.bg-gray2{
    background-color: $gray-2;
}



/*.clearfix br{
    display: none;
}*/

/* ===================================================================================== */
/* 2. Estilos aplicados por ID */
/* ===================================================================================== */
#main{
    /*padding-left: 2em;*/
    /*padding-right: 2em;*/
    /*padding-top: .5em;*/
}

#header {
    /*    padding-left: 2em;
        padding-right: 2em;*/
}

#botones div:first-child{
    /*margin-top: 1em;*/
    margin-bottom: 2em;
}

#contenido{
    min-height: 80vh;
    padding-top: 1rem;
    padding-bottom: 5rem;
}

#titulo{
    h1, h2, h3{
        font-weight: bold;
        margin-bottom: .70rem;
    }
}

#notificaciones  {    
    z-index: 1000;
    position: fixed;
    top: 5rem;
    right: 25%;
    left: 25%;
    /*width: 60%;*/
    margin-left: auto;
    margin-right: auto;
}



#pagina-titulo-principal{
    padding: .5rem $inner-padding-default .3rem $inner-padding-default;
    background-color: $primary;
    color: white;
    border-radius: 4px;    
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);

    i.material-icons{
        font-size: 95%;
        /*vertical-align: middle;*/
    } 
}

/* ===================================================================================== */
/* 3. Estilos aplicados por clase */
/* ===================================================================================== */


/*
    Usado en editar mail de los resultados de id ciudadana.
*/ 
.small-icon{
    font-size: 1em;
}

.debug *{
    border: 1px dashed;
}

.hr-primary{
    border-top-color: #1193a1;
    border-top-width: 1px;
    border-top-style: solid;    
    margin-top: 0;
    /*box-shadow: inset 0 12px 12px -12px red;*/
}

.font-size-normal{
    font-size: inherit;
}

.bottom-0{ bottom: 0}
.right-0{ right: 0}
.left-0{ left: 0}
.top-0{ top: 0}


.w-5{ width: 5%; }
.w-10{ width: 10%; }
.w-15{ width: 15%; }
.w-20{ width: 20%; }
.w-50{ width: 50%; }
.w-100{ width: 100%; }
.card-box-shadow{ box-shadow: 0 8px 13px -13px grey; }

/* ===================================================================================== */
/* 5. Tipografía */
/* ===================================================================================== */
.color-white{ color: white; }


.centrate {
    @include centerer;
}

.centrate-x {
    @include centerer(true, false);
}

.centrate-y {
    @include centerer(false, true);
}




#aplicaciones a.link-card{
    text-decoration: none; 

    .card:hover{
        background-color: #108A97;
        /*color: white;*/
        
        *{
            color: white !important;
        }
        
/*        .estado_app{
            color: white !important;
        }*/
    }

}