<div class="row {{ botonera_padding is defined ? botonera_padding : 'mt-3 mt-lg-4' }}">
  <div class="col-12 col-md-4">
    {% block left %}

    {% endblock %}
  </div>
  <div class="col-12 col-md-4 text-start">
    {% block middle %}

    {% endblock %}
  </div>
  <div class="col-12 col-md-4 text-end">
    {% block right %}

    {% endblock %}
  </div>
</div>
