{% if items|length > 0 %}
    <nav aria-label="breadcrumb" class="">
        <ol class="breadcrumb fst-italic">
            {% block breadcrumbItems %}            
                {% for item in items %}
                    {% if loop.last %}
                        <li class="breadcrumb-item active" aria-current="page">                              
                            {{ item.translatedLabel }}
                        </li>
                    {% else %}
                        <li class="breadcrumb-item">
                            {% if item.url %}
                                <a href="{{ item.url|quitar_get_params }}">
                                    {{ item.translatedLabel }}
                                </a>
                            {% else %}
                                <span class="">
                                    {{ item.translatedLabel }}
                                </span>                            
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            {% endblock %}
        </ol>
    </nav>
{% endif %}