<div class="card bg-success">
    <div class="card-body lead text-white font-weight-bold">
        sdads
    </div>
    <div class="card-footer d-flex align-items-center justify-content-between border-top border-white">
        <a class="stretched-link text-white" href="{{ link_href|default('#') }}" style="text-decoration: none;">
            Designar
        </a>
        <div class="text-white">
            <i class="bi-arrow-right-circle"></i>
        </div>
    </div>
</div>
