<div class="row {{ botonera_padding is defined ? botonera_padding : 'mt-3 mt-lg-4' }}">
  <div class="col-md-4">
    {% block left %}

    {% endblock %}
  </div>
  <div class="col-md-4 text-center">
    {% block middle %}

    {% endblock %}
  </div>
  <div class="col-md-4 text-right">
    {% block right %}

    {% endblock %}
  </div>
</div>
