<div class="row {{ botonera_padding is defined ? botonera_padding : 'mt-3 mt-lg-4' }}">
  <div class="col-12 col-md-6">
    {% block left %}

    {% endblock %}
  </div>
  <div class="col-12 col-md-6 text-right">
    {% block right %}

    {% endblock %}
  </div>
</div>
