{# Card basico sin header #}
{# 
    https://getbootstrap.com/docs/4.0/components/card/
#}
{#<div class="card">
    <div class="card-body">#}
<div class='alert border alert-light {{ css is defined ? css : '' }} text-dark mb-0 table-shadow'>
    {% block card_body %}            
    {% endblock card_body %}
</div>
{#    </div>
</div>#}