<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dropDownOrganismos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown 1
    </a>
    <div class="dropdown-menu" aria-labelledby="dropDownOrganismos">            

        <a class="dropdown-item" href="#">
            Acción 1
        </a>

        <div class="dropdown-divider"></div>

        <a class="dropdown-item" href="#">
            Otra acción
        </a>

        <a class="dropdown-item" href="#">
            <a class="dropdown-item" href="#">
                Otra acción
            </a>
        </a>
    </div>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dropDownLiquidaciones" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown 2
    </a>
    <div class="dropdown-menu" aria-labelledby="dropDownLiquidaciones">
        <a class="dropdown-item" href="#">
            Acción 1
        </a>
        <a class="dropdown-item" href="#">
            Acción 2
        </a>
        <a class="dropdown-item" href="#">
            Acción 3
        </a>
        <a class="dropdown-item" href="#">
            Acción 4
        </a>
        <!-- <div class="dropdown-divider"></div> -->
    </div>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dropDownOtras" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown 3
    </a>
    <div class="dropdown-menu" aria-labelledby="dropDownOtras">

        <a class="dropdown-item" href="#">
            Acción 1
        </a>

        <div class="dropdown-divider"></div>

        <a class="dropdown-item" href="#">
            Acción 2
        </a>
        
        <a class="dropdown-item" href="#">
            Acción 3
        </a>


    </div>
</li>