<div class="">
    
    {% set header_title = status_code ~ ' - ' ~ msg_error_titulo|default('Error') %}
    {% set card_basica_css = 'shadow' %}

    {% embed "@CajaSBAdminTheme/partials/card-basica.html.twig" with { 'codigo_ayuda' : '', 'card_header_content' : header_title|upper } %}
        {% block card_body %}
            <div>
                {{ msg_error_html }}
            </div>

            {% if show_context_info|default(true) %}
                <div class='mt-3'>
                    {% include '@CajaSBAdminTheme/errores-http/context-info.html.twig' %}
                </div>
            {% endif %}

            <div class='mt-3'>    
                {% embed '@CajaSBAdminTheme/partials/botonera.html.twig' %}

                    {% from '@CajaSBAdminTheme/macros.html.twig' import btn_primary, btn_link %}

                    {% block left %}
                        <a href='{{ target_uri|default('#') }}' class='btn {{ target_btn_css|default('btn-secondary') }}'>
                            {#<i class='bi-house-fill'></i>&nbsp;#}
                            {{ target_label|default('Ir al inicio') }}
                        </a>                                     
                    {% endblock %}

                {% endembed %}
            </div>    

        {% endblock %}
    {% endembed %}
</div>
