{% extends "@CajaSBAdminTheme/errores-http/error-base.html.twig" %}

{% set show_context_info = true %}
{% set card_header_css = 'bg-primary text-light' %}

{% set msg_error_titulo = 'Recurso NO encontrado' %}
{% set css_text_color = 'text-primary' %}

{% set msg_error_html %}
    <p>
        La p치gina u archivo a la que intenta acceder no existe. Revise la URL de la pagina actual si la misma ha sido ingresada manualmente.
    </p>
    <p>
        Si usted ha sido redireccionado hasta esta p치gina por el sistema, por favor escriba un correo electr칩nico a la 
        direcci칩n <b><i>{{ bt_app_email_soporte|default('email.soporte@mail.com') }}</i></b> anexando la siguiente informacion.
    </p>
{% endset %}
