/*
Estilos para todo lo relacionado a la ayuda
*/

.get-ayuda{
    i.material-icons{
        /*color: white !important;*/
    }
}


#ayuda-vista-previa {
   /* .contenido{
        background-color: #fafafa !important;

        p{
            margin-bottom: 0;
            font-size: 1rem;
        }
    }

    label{   

        .actions{
            position: absolute;
            right: 0;            

            i{
                vertical-align: middle;
                font-size: 100%;

                &:hover{
                    cursor: pointer;
                }
            }
        }                

    }*/

}

.help-links{
    /*position: absolute;*/
    /*right: 0;*/
    font-size: 90%;
    /*vertical-align: middle;*/    
    /*top: 30%;*/
    text-decoration: none !important;
    vertical-align: middle;    
    margin-left: 5px;
}

/*.help-links a{
    text-decoration: none !important;
    vertical-align: middle;    
    margin-left: 5px;
}*/

.help-links i{
    font-size: inherit;
}

#pagina-titulo-principal {
    position: relative;
    
    .ayuda-principal{
        position: absolute;
        right: 1rem;
        
        a{
            vertical-align: middle;
        }
    }
}

