<table
        id="table"
        class="rounded-circle"
        data-toggle="table"
        data-locale="es-SP"
{#        data-height="460"#}
        data-pagination="true"
        data-search="true"
        data-show-search-button="true"
        data-search-align="left"
        data-show-fullscreen="true"
        data-show-pagination-switch="true"
        data-show-refresh="true"
        data-show-toggle="true"
        data-buttons-class="light" {# https://examples.bootstrap-table.com/index.html#options/buttons-class.html #}
{#        data-icon-size="sm"#}
        data-url="{{ asset('bundles/cajasbadmintheme/assets/json/data1.json') }}">
    <thead>
    <tr>
        <th data-field="id" data-sortable="true">ID</th>
        <th data-field="name" data-sortable="true">Item Name</th>
        <th data-field="price" data-sortable="true">Item Price</th>
    </tr>
    </thead>
</table>