{% extends '@CajaSBAdminTheme/base.html.twig' %}

{% block body %}
    <div class="card mb-4">
        <div class="card-body">
            Para realizar tablas se recomienda utilizar el plugin <span
                    class="fw-bold fst-italic">Bootstrap Table</span> que permite generar tabla como la mostrada abajo
            <a target="_blank" href="https://bootstrap-table.com/">Ver documentaci&oacute;n de Bootstrap Table </a>.
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            DataTable Example
        </div>
        <div class="card-body">
            {% include '@CajaSBAdminTheme/default/tables-bt.html.twig' %}
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script>
        $(document).ready(function() {

        });
    </script>
{% endblock %}

