/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07/04/2020, 09:23:14
    Author     : esangoi
*/

.breadcrumb{
    /*color: $secondary;*/
    margin-bottom: .75rem;
    //background-color: $white;
    padding-top: .3rem;
    padding-bottom: .3rem;
    //padding-left: $inner-padding-default;
    //padding-right: $inner-padding-default;
    //box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    opacity: .75;
    /*font-size: 90%;*/
    /*border-radius: 0;*/

    a{
        color: $gray-700;
    }

    .breadcrumb-item .active{
        font-weight: bold;
    }
}