/*
Corrige el estilo del select2 para que coincida con el estilo de todos los inputs.
*/
@mixin fix-input-style{
    padding: 0.15rem 0.5rem;
    /*font-size: 95% !important;*/
    font-size: $font-size-base !important;
    height: inherit;
    min-height: auto !important;
}

/*
  Centrar elementos horizontalmente, verticalmente o ambos.

  La clase padre debe tener posicionamiento relativo.
  https://css-tricks.com/snippets/sass/centering-mixin/
*/
@mixin centerer($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}
