/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/03/2020, 08:48:32
    Author     : esangoi
*/

/*Gris utilizado en la navbar y en el fondo*/
/*$gray-0: rgb(228, 229, 230);*/
$gray-1: #e3e1e2;
$gray-2: #e4e5e6;

$primary: #108A97 ;
$secondary: #6c757d;

$form-row-margin: 1.5rem;
/*$input-height: 28.3906px;*/

$white: white;

/*Cards*/ 
$card-basica-header-font-size: 1.2rem;
$inner-padding-default: 1rem;
$input-y-padding: 0.3rem;
$input-t-padding: 0.3rem;
$input-b-padding: 0.2rem;

$input-x-padding: 0.5rem;
$input-l-padding: 0.5rem;
$input-r-padding: 0.5rem;

/* Seperacion de las columns en una grilla */
$grid-gutter-width: 10px;