{#
/**
 * @file
 * Twitter Bootstrap v3 Sorting control implementation.
 *
 * @author Afolabi Olayinka <folabiolayinka@gmail.com>
 *
 * https://github.com/KnpLabs/KnpPaginatorBundle/blob/v4/Resources/views/Pagination/twitter_bootstrap_v3_sortable_link.html.twig
 */
#}

<span class="sortable">
    {{ title }}
    <a
        {% for attr, value  in options %} 
            {{ attr }}="{{ value }}"
        {% endfor %}>
        <span class="">
            {% if sorted %}
                {% if direction == 'desc' %}
                    <i class="bi-filter-left text-dark" title="Orden ASCENDENTE activo. Click para invertir orden."></i>
                {% else %}
                    <i class="bi-filter-right text-dark" title="Orden DESCENDENTE activo. Click para invertir orden."></i>
                {% endif %}
            {% else %}
                <i class="bi-filter text-dark"  title="Ordenar"></i>
            {% endif %}
        </span>
    </a>
</span>